# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [11]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(data=dados)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:

# seu código aqui
indice=['1900', '1920', '1940', '1960', '1980', '2000', '2020']
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anoTemperaturaComIndex = pd.Series(data=dados, index=indice)
anoTemperaturaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [13]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
AnoTemperaturaDict = {'1900': -.08, '1920': -.27, '1940': .12, '1960': -.03, '1980': .26, '2000': .40, '2020': 1.02}
AnoTemperaturaSeries = pd.Series(AnoTemperaturaDict)
AnoTemperaturaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [14]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
df

             0           1           2
0   102.615746  109.836164  110.243953
1   112.439386  112.430869   95.983375
2    90.547934   89.613787  103.889555
3    92.970714   99.240547  109.948381
4   107.103666  119.044843   95.308656
5    96.340213   96.781196   99.380337
6    99.686752  109.398320   89.596121
7    97.905479   78.959704   92.813272
8    96.950084   94.187851   96.519754
9   102.941994  108.095635  111.301487
10  104.834912  102.463294   97.840313
11  102.590450   92.602293  112.679231
12   85.405685   95.537982   96.556668
13   93.735514   91.203415   88.394008
14   80.940512   96.393910   88.558716
15   93.747601  108.952786  106.276837
16  109.440134   96.423747  109.122428
17  100.729723  101.559631  104.655166
18  103.860244   96.436263  108.784600
19  101.972607   99.392053  101.441639

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
#seu código aqui
index = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ,3, 14, 15, 16, 17, 18, 19, 20])
colums = np.array(["x1", "x2", "x3"])
df = pd.DataFrame(arr = ([])) 
df

TypeError: __init__() got an unexpected keyword argument 'arr'

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [8]:
# seu código aqui

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui